* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 0;
}

hr {
    border-top: 1px solid black;
    display: block;
    width: 100%;
    margin: auto;
}

.reduced-margin-bottom {
    margin-bottom: 15px !important;
}

.no-right-border {
    border-right: none !important;
}

.black-background {
    background-color: black !important;
}

.full-width {
    width: 100% !important;
}

.book-detail-banner {
    position: relative;
    height: 300px;
}

a {
    color: black;
    text-decoration: none;
}
.not-title {
    display: inline !important;
    margin-right: 15px;
    margin-left: 5px;
    font-weight: normal !important;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    font-size: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 13px 0px;
    border-bottom: 1px solid black;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
}

.navigation-bar {
    display: flex;
    align-items: center;
}

.navigation-bar li {
    display: inline-block;
    border-right: 0.5px solid black;
    padding: 5px 15px;
}

.navigation-bar li a {
    color: black;
    text-decoration: none;
}

.navigation-bar li a:hover {
    color: #E8504D;
}

.banner {
    width: 80%;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}


.banner .quote-container{
    display: flex;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
}

.banner .quote-container .quote-description {
    padding: 10px 0px;
    text-transform: uppercase;
    color: #E8504D;
    font-size: 1.3rem;
    font-weight: bold;
}

.banner .quote-container .quote-content {
    padding: 10px 0px;
    font-size: 3.5rem;
}

.banner .quote-container .quote-author {
    padding: 10px 0px;
    font-size: 1rem;
}

.book-category {
    color: white;
    font-size: 4rem;
    padding: 30px 0px;
    font-weight: bold;
}

.book-container {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.book-container .book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-container .book-banner img {
    width: 100%;
}

.book-container .book-example {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.book-container .book-example .book {
    display: flex;
    flex-direction: column;
    border: 2px solid #EDEDED;
    justify-items: center; 
    align-items: center;
    position: relative;
}

.book-container .book-example .book .book-image {
    padding: 30px 0px;
    display: flex;
    justify-content: center; 
}

.book-container .book-example .book .book-image img {
    width: 60%;
    border: 0.1px solid black;
    box-shadow: 5px 5px 5px lightblue;
}

.book-container .book-example .book .book-type {
    width: 80%;
    text-align: left;
    text-transform: uppercase;
    color: #E8504D;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 0.7rem;
    padding-top: 20px;
}

.book-container .book-example .book .book-title {
    width: 80%;
    max-width: 250px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-container .book-example .book .book-author {
    width: 80%;
    text-align: left;
    color: grey;
    font-size: 1rem;
    margin-bottom: 4px;
}

.book-container .book-example .book .book-price {
    width: 80%;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.book a {
    text-decoration: none;
    color: black;
}

.book:hover .slider {
    visibility: inherit;
}

.book:hover .book-image img {
    transform: scale(1.2,1.2);
    transition: 1s;
    cursor: pointer;
}

.book:hover {
    border: 1px solid black !important;
    box-shadow: 1px 1px black;
}

.slider {
    visibility: hidden;
    position: absolute;
    bottom: 40px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center; 
    align-items: center;
    color: black;
}

.book-interaction {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.book-interaction a {
    color: black;

}

.book-favorite {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.book-icon {
    padding: 6px;
}

.book-icon:hover {
    background-color: #E8504D;
    border-radius: 50%;
    color: white;
}

.footer {
    font-size: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 13px 0px;
    border-bottom: 1px solid black;
}

.copyrights {
    background-color: black;
    font-size: 1rem;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
}

.book-description {
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 40px;
}

.book-description a{
    padding: 0px 10px;
    color: grey;
}

.book-description .breadcumb a:hover {
    color: #E8504D;
}

.book-info {
    display: inline-block;
    width: 40%;
}

.about {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.breadcumb {
    margin-bottom: 15px;
}

.image-holder {
    position: absolute;
    left: 10%;
    bottom: -80px;
    display: flex;
    height: 300px;
    justify-content: center;
    width: fit-content;
    overflow: hidden;
    border: 1px solid black;
}

.large-image img {
    width: 235px;
    object-fit: cover;
    border: 1px solid black;
}

.small-image img {
    width: 78px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
}

.large-image img:hover {
    transform: scale(1.05,1.05);
    transition: 1s;
}

.small-image img:hover {
    transform: scale(1.05,1.05);
    transition: 1s;
}

.book-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 600px;
    margin-right: 100px;
    color: white;
    text-align: right;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-order {
    margin-top: 110px;
    margin-right: 160px;
    float: right;
    text-align: center;
}

.book-cost {
    font-size: 1.5rem;
    background-color: #E8504D;
    padding: 10px 60px;
    border-radius: 30px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px black;
}

.book-buy {
    font-size: 1.5rem;
    background-color: white;
    color: black;
    padding: 10px 60px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
}

.book-cost a {
    color: white !important;
}

.book-buy a {
    color: black;
}

.book-cost:hover {
    transform: translateY(4px);
}

.book-buy:hover {
    transform: translateY(4px);
}

.form-container {
    border-radius: 10px;
    width: 40%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
}

.form-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

form div {
    font-size: 1rem;
    margin: 30px 0px;
}

form label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.extra {
    display: flex;
    align-content: flex-start;
}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid black;

}

input[type=text]:focus {
    border: 3px solid black;
}

select:focus {
    border: 3px solid black;
}

textarea:focus {
    border: 3px solid black;
}

button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0px;
    font-weight: bold;
    border: 1px solid grey;
}

.reset {
    background-color: white;
    color: #E8504D;
}

.submit {
    background-color: black;
    color: white;
}

button:hover {
    transform: translateY(-1px);
}